.form {

    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    gap: 20px;

    @media all and (min-width: 780px) {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }



    &-div {
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (min-width: 780px) {

            flex-direction: row;

        }
    }


}